################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSCI-320-KotDT/v15/sqlite3
/.vs/CSCI-320-KotDT/v15/.suo
/Backup2
/CSCI-320-KotDT/obj/Debug

*.config

*.pdb

*.user
