@{
    ViewBag.Title = "Create User";
}
@if (ViewBag.invalid) {
    <p>@ViewBag.invalidMessage</p>
}
<form method="post">
    Username: <input name="username"/><br>
    Password: <input name="password"/><br>
    First Name: <input name="firstName"/><br>
    Last Name: <input name="lastName"/><br>
    <button type="submit">Create</button>
</form>