@using CSCI_320_KotDT.Models
@{
    ViewBag.Title = "User";
}

@{User user = (User) HttpContext.Current.Session["selectedUser"];
}
<h2>
    @user.firstName
    @user.lastName
</h2>

@if(ViewBag.followable == 1){
    <button runat="server" onclick="location.href='@Url.Action("follow", "User")'">Follow</button>
}
@if(ViewBag.followable == 2){
    <button runat="server" onclick="location.href='@Url.Action("unfollow", "User")'">Unfollow</button>
}