@using CSCI_320_KotDT.Models
@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Welcome</h1>
  @if (Session["UserID"] == null) {
    <p class="lead">Login I guess, or create an account (dont let me forget to add some kind of filler here)</p>
  }
  else {
    foreach (Review review in ViewBag.feed)
     {
       <p>Review by: @review.CreatedBy</p>
       <p>@review.ReviewText</p>
     }
  }
</div>
