@using System.Web.Mvc.Html
@{
  ViewBag.Title = "Search Results";
}
<div style="float: left">
  <p>Users</p>
    <ul>
  @foreach (string i in ViewBag.users) {
    <li>@Html.ActionLink(i, "User", "User", new{username = i}, null)</li>
  }
    </ul>
</div>

<div style="float: left; padding-left: 100px">
  <p>Movies</p>
    <ul>
  @for(int i = 0; i < ViewBag.movies.Count; i++) {
    <li>@Html.ActionLink((string)ViewBag.movies[i], "Details", "Movies", new{ id = ViewBag.id[i]}, null)</li>
  }
    </ul>
@if (ViewBag.movies.Count == 25)
{
    @Html.ActionLink("See More", "Index", "Movies", new { search = ViewBag.search }, null)
}
</div>

<div style="float: right; padding-left: 100px">
  <p>Actors/Directors</p>
    <ul>
  @foreach (string i in ViewBag.actors) {
    <li>@Html.ActionLink(i, "Details", "Actors", new { id = i }, null)</li>
   }
    </ul>
</div>
<div style="clear: both"></div>