@using System.Web.Mvc.Html
@{
  ViewBag.Title = "Search Results";
}
<div style="float: left">
  <p>Users</p>
  @foreach (string i in ViewBag.users) {
    <li>@i</li>
  }
</div>

<div style="float: left; padding-left: 100px">
  <p>Movies</p>
  @for(int i = 0; i < ViewBag.movies.Count; i++) {
    <li>@Html.ActionLink((string)ViewBag.movies[i], "Details", "Movies", new{ id = ViewBag.id[i]}, null)</li>
  }
</div>

<div style="float: right; padding-left: 100px">
  <p>Actors</p>
@*  @foreach (string i in ViewBag.actors) {*@
@*    <li>@i</li>*@
@*  }*@
</div>
<div style="clear: both"></div>